/* FONTS */

@font-face {
    font-family: "Montserrat";
    src: url("Fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Cabin";
    src: url("Fonts/Cabin-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
}
